.page1 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A; /* color=dark-grey */
}

li, a, button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #FDFEFF; /* color=white */
    text-decoration: none;
}
/* header options for navigating the page (Services, About, Projects) */

h1 > a {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #FDFEFF; /* color=white */
    text-decoration: none;
}
/* header_name (Austin Douglas) acts as a "home" button to bring users back to the home page */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #080808; /* color=black */
    padding: 30px, 10%;
    margin: 0;
    border-style : hidden!important;
}
/* will be the same for all page headings */


.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

/* CSS for About page (html.about) */

.page2 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffff;
}
